body{ 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background:lightgoldenrodyellow;
    color: darkgreen }
    body {
        background-image: url("https://images.unsplash.com/photo-1616410731303-6affae095a0a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fHww");
      }

img{  
    width: 300px;}
